{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
{% endblock %}

{% block content %}
    <br>
    <h2> Cats are awesome! </h2>
    <hr>
    This is a tribute to cats. Cats fulfill your life with joy, they are cuddly, soft and full of floof.

    <!-- This is the most basic way of implementing an input field -->
    {{ formfield "number_cats_question" label="How many cats did you pet in your lifetime?"}}

    <!-- This is the most basic way of implementing error handling -->
    {{ formfield_errors 'number_cats_question' }}

    <!-- This is a more advances way of implementing a question -->
    <!-- the type says what kind of input "field" you would like, the name has to
    be the same as on models.py and the value is what will be displayed in your dataset
    if the option is clicked -->

    <p><b>What color do you find most beautiful in cats?</b></p>
    <input type="radio" name="color" value="1"/> Black
    <br>
    <input type="radio" name="color" value="2"/> Red
    <br>
    <input type="radio" name="color" value="3"/> Brown
    <br>
    <input type="radio" name="color" value="4"/> Striped
    <br>
    <input type="radio" name="color" value="5"/> White
    <br>
    <input type="radio" name="color" value="6" /> Multiple colors
    <br>
    <input type="radio" name="color" value="7" /> Can't decide
    <br>
    <br>

    {{ formfield "best_cat_name_question" label="What is the best name to give to a cat?"}}

    <!-- This is the most basic way of implementing error handling -->
    {{ formfield_errors 'best_cat_name_question' }}

    <button class="otree-btn-next btn btn-primary next-button otree-next-button">
        Next
    </button>

{% endblock %}